@model IEnumerable<MVC_Garage_2._0.Models.ParkedVehicle>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to </br> Our Awesome Parking site</h1>
    <a href="~/ParkedVehicles" class="btn btn-info">See all parked vehicles &raquo;</a>
    <a href="~/ParkedVehicles/Park" class="btn btn-default">Park yourself &raquo;</a>
   

    <form method="get" action="@Url.Action("Index", "Home")"
          data-otf-ajax="true" data-otf-target="#Search">
     
        <input type="search" name="Searchtext" />
        <input type="submit" value="search for Vehicle" />
        <p>Select a category to search</p>
       <div>
           RegNumber:   @Html.RadioButton("Category", "RegNo")
           Color: @Html.RadioButton("Category", "Color")
           NoOfWheels: @Html.RadioButton("Category", "NoOfWheels")
           Model: @Html.RadioButton("Category", "Model")
           Type: @Html.RadioButton("Category", "Type")
           Brand: @Html.RadioButton("Category", "Brand")
       </div>
        

    </form>

    

    
  
</div>

    
        @Html.Partial("Search",Model)

    



